<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluebox.james"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:name="com.bluebox.james.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bluebox.james.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bluebox.james.activity.TemperatureSceneActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bluebox.james.activity.FeatureEditActivity"
            android:label="@string/edit_feature" >
        </activity>
        <activity
            android:name="com.bluebox.james.activity.ScenarioEditActivity"
            android:label="@string/edit_scenario" >
        </activity>
        <activity
            android:name="com.bluebox.james.activity.RoomActivity"
            android:label="@string/title_activity_room" >
        </activity>
        <activity
            android:name="com.bluebox.james.activity.AdminProbesActivity"
            android:label="@string/title_activity_probes" >
        </activity>
        <activity
            android:name="com.bluebox.james.activity.AdminSwitchsActivity"
            android:label="@string/title_activity_switchs" >
        </activity>
    </application>

</manifest>